      <!--
      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
      </div>
      -->

<header id="header">
  <h1 id="logo"><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
      <li class="current"><a href="{{ site.baseurl }}/">Welcome</a></li>
      <li class="submenu">
        <a href="">Products</a>
        <ul>
          <li><a href="no-sidebar.html">Shooty Jumpy Boy</a></li>
        </ul>
      </li>
      <li><a href="{{ "/about/" | prepend: site.baseurl }}">About</a></li>
    </ul>
  </nav>
</header>