<header id="header">
  <h1 id="logo"><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
      <li class="current"><a href="{{ site.baseurl }}/">Welcome</a></li>
      <li class="submenu">
        <a href="">Products</a>
        <ul>
        {% for product in site.products %}
          <li><a href="{{ product.url | prepend: site.baseurl }}">{{ product.title }}</a></li>
        {% endfor %}
        </ul>
      </li>
      <li><a href="{{ "/about/" | prepend: site.baseurl }}">About</a></li>
    </ul>
  </nav>
</header>