<div class="4u -4u member">
  <section>
    <header>
      <img src="{{ page.picture }} " alt="" />
      <h2>{{ page.name }}</h2>
      <h3>{{ page.title }}</h3>
    </header>

    <div class="row">
      <div class="12u">
      {{ page.content }}
      </div>
    </div>
    <br>

    <footer>
      <ul class="icons">
      {% if page.twitter_username %}
        <li>
          <a href="https://twitter.com/{{ page.twitter_username }}" class="icon circle fa-twitter"><span class="label">Twitter</span></a>
        </li>
      {% endif %}
      {% if page.github_username %}
        <li>
          <a href="https://github.com/{{ page.github_username }}" class="icon circle fa-github"><span class="label">Github</span></a>
        </li>
      {% endif %}
      </ul>
    </footer>
  </section>
</div>